<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ytu.icoding.dao.RoleDao">
	
	<sql id="selectId">
	id,
	name,
	roleKey,
	description
	</sql>
	
	<select id="findAll" resultType="Role">
		select
		<include refid="selectId" />
		from role
	</select>

	<select id="isUserExit" parameterType="int" resultType="int">
		select count(*) from user_role where user_id = #{id};
	</select>
	
	<insert id="addRoleToUser" parameterType="java.util.HashMap">
		insert user_role(user_id,role_id) values (#{userId},#{roleId})
	</insert>
	
	<update id="updateRoleTouser" parameterType="java.util.HashMap" >
		update user_role set role_id = #{roleId} where user_id = #{userId}
	</update>
	
	
	
</mapper>